In [1]:
import pandas as pd
import numpy as np

In [2]:
school_data = pd.read_csv("ELA_data_2013_2023.csv")

In [4]:
school_data

,Report Category,Geographic Subdivision,School Name,Grade,Year,Student Category,Number Tested,Mean Scale Score,Num Level 1,Pct Level 1,Num Level 2,Pct Level 2,Num Level 3,Pct Level 3,Num Level 4,Pct Level 4,Num Level 3 and 4,Pct Level 3 and 4
0,Citywide,Citywide,NaN,3,2023,All Students,49453,447,14225,28.8,11486,23.2,14154,28.6,9588,19.4,23742,48.0
1,Citywide,Citywide,NaN,4,2023,All Students,51008,450,10679,20.9,13530,26.5,14788,29.0,12011,23.5,26799,52.5
2,Citywide,Citywide,NaN,5,2023,All Students,53235,449,12486,23.5,14190,26.7,16717,31.4,9842,18.5,26559,49.9
3,Citywide,Citywide,NaN,6,2023,All Students,51996,447,13237,25.5,13882,26.7,13709,26.4,11168,21.5,24877,47.8
4,Citywide,Citywide,NaN,7,2023,All Students,53472,450,12976,24.3,12860,24.0,15838,29.6,11798,22.1,27636,51.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626457,School,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2014,SWD,45,256,40,88.9,4,8.9,1,2.2,0,0.0,1,2.2
626458,School,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,6,2013,Not SWD,110,278,59,53.6,45,40.9,6,5.5,0,0.0,6,5.5
626459,School,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,6,2013,SWD,33,256,29,87.9,4,12.1,0,0.0,0,0.0,0,0.0
626460,School,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2013,Not SWD,110,278,59,53.6,45,40.9,6,5.5,0,0.0,6,5.5
626461,School,32K562,EVERGREEN MIDDLE SCHOOL FOR URBAN EXPLORATION,All Grades,2013,SWD,33,256,29,87.9,4,12.1,0,0.0,0,0.0,0,0.0